@using System.Globalization;
@model IEnumerable<Jewelry.Models.ItemDetails>





@{
    ViewData["Title"] = "shop";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}



<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-warning important text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>



<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">Filter</h1>

            <ul class="list-unstyled templatemo-accordion">

                <a class="collapsed d-flex justify-content-between h3 text-decoration-none" asp-controller="user" asp-action="shop">ALL</a>
            </ul>

            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Category
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    
                    <ul class="collapse show list-unstyled pl-3">
                        @foreach (var category in ViewBag.Categories)
                        {
                            <li><a class="text-decoration-none" href="?cs=@category.Cat_Name">@category.Cat_Name</a></li>
                        }
                    </ul>
                    
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Brand
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>

                    <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                        @foreach (var brand in ViewBag.Brands)
                        {
                            <li><a class="text-decoration-none" href="?cs=@brand.Brand_Type">@brand.Brand_Type</a></li>
                        }
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Product
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseThree" class="collapse list-unstyled pl-3">
                        @foreach (var product in ViewBag.Products)
                        {
                            <li><a class="text-decoration-none" href="?cs=@product.Prod_Type">@product.Prod_Type</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                      
                        
                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="d-flex">

                        <form action="@Url.Action("shop", "user")" method="get" class="input-group mb-2">
                            
                                <input type="text" class="form-control" id="inputModalSearch" name="searchQuery" placeholder="Search ...">
                                <button type="submit" class="input-group-text bg-warning text-light">
                                    <i class="fa fa-fw fa-search text-white"></i>
                                </button>
                            
                        </form>


                    </div>
                </div>
            </div>
            <div class="row">
                 @foreach (var item in Model)
                      {
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="@item.imgUrl">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                        

                                        <li><a class="btn btn-warning text-white mt-2" asp-route-id="@item.ItemMstID" asp-action="singleshop" asp-controller="user"><i class="far fa-eye"></i></a></li>
                                        
                                        
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">


                                <h5 class="text-center mb-0">@item.prodName</h5>
                                

                                <p class="text-center mb-0"><b>@item.MRP.ToString("C", new CultureInfo("en-US"))</b></p>
                        </div>
                    </div>
                </div>
                }
            </div>
    </div>
</div>
</div>