@model IEnumerable<Jewelry.Models.ItemDetails>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1></h1>
    <h1></h1>
    <h1 class="page-title" style="margin-top:4%">Manage Items</h1>
    <hr />
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.catMst)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.prodName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pairs)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.brandMst)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.certifyMst)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.goldKrtMst)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gold_Wt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Net_Gold)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Wstg_Per)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Wstg)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tot_Gross_Wt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gold_Rate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gold_Amt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gold_Making)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.prodMst)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dim_Pcs)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stone_Wt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stone_Making)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dim_Amt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.imgUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MRP)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.catMst.Cat_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.prodName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pairs)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.brandMst.Brand_Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.certifyMst.Cat_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.goldKrtMst.Gold_Crt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gold_Wt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Net_Gold)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Wstg_Per)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Wstg)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tot_Gross_Wt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gold_Rate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gold_Amt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gold_Making)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.prodMst.Prod_Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dim_Pcs)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stone_Wt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stone_Making)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dim_Amt)
                        </td>
                        <td>
                            <img src="@item.imgUrl" width="50px" height="50px">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MRP)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ItemMstID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ItemMstID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ItemMstID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<p style="margin-top:4%">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
