@model IEnumerable<Jewelry.Models.BrandMst>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h1> @Html.DisplayNameFor(model => model.Brand_Type)</h1>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand_Type)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.BrandMstID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.BrandMstID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.BrandMstID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>